/* PUT STYLE FOR ABOUT PAGE HERE */

/* type in this space */

/* END STYLE FOR ABOUT PAGE */




/* PUT STYLE FOR CONTACT PAGE HERE */

/* type in this space */
/*main should have new images updated regularly*/ 


.contactus{
    top: 30%;
	background-color: #484848;
	width: 100%;
    height: 745px;	
	margin: 0%;
	text-align: center;
	font-family: 'Lobster';
}

/* END STYLE FOR CONTACT PAGE */

/* logo start */
.logo {
text-align: left;
font-family: 'Courier New', Courier, monospace; 
   font-size: 20px;
   color: #e61531;
    font-weight: bold;
    
}
/* logo end */


/* Styles for Navigation Bar */
.home {
background: url(images/bg-image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 background-size: 100% 100%;
  z-index: -1;
}

body {
  overflow: hidden;
}

.nav{
    position: absolute;
    top: 3%;
    width: 100%;
    min-width: 900px;
    right: 0px;
    vertical-align: middle;
    text-align: left;
}

.nav1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #777;
    opacity: 0.7;
}

li {
margin: auto;
display: inline-block;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font-family: 'Sanchez', serif;
    font-size: 14px;
}

li a:hover {
    background-color: #111;
}

button {
position: fixed;
top: 63%;
left: 50%;
  transform: translate(-50%, -50%);
background-color: transparent;
    border: 1px solid #fff;
    color: white;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Sanchez,' serif;
}
/* End of Style for Navigation */

/* styles for Menu Page */
body .menu-body {
    width: 960px;
    margin: 0 auto;
}


#menucontent {
    overflow: auto;
    height: 100%;
    margin: 0 auto;
   
}

#feature {
    background-color: efefef;
    padding: 10px;
    margin: 100px 10px 10px 10px;
    background-color: black;
    top-margin: 100px;
}

img {
    height: 150px;
    width: 350px;
}
.smallpic {
    height: 150px;
    width: 200px;
}

.mentag {
    text-align: center;
    font-size: 40px;
   color: #e61531;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace; 
    
}

.slogan {
    text-align: center;
    color: #fbf5ef;
    font-size: 16px;
   font-weight: bold;
    font-family: 'Courier New', Courier, monospace;  
    
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.men-tacos, .men-soup, .men-bev {
   width: 300px;
   float: left;
   margin: 20px;
   background-color: #646e6e;
   padding: 5px;
   border: 1px double #e61531;
   border-radius: 5px;
   height: 545px;
}

.menusection {
    margin-left: 200px;
}

dd {
    font-family: 'Sanchez', serif;
    color: #fbf5ef;
    font-size: 16px;
    
}

dt {
    text-transform: uppercase;
    color: #e61531;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
/* End of Menu page style */

